.pageOrder{
    min-height: 450px;
    .leftPageOrder{
        border-radius: 5px;
        padding: 10px 20px;
        background-color: white;
        display: flex;
        margin: 20px 40px;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        img{
            max-height: 80px;
            max-width: 80px;
        }
        .title{
            width: 300px;
        }
        input{
            width: 50px;
        }
    }
    .rightPageOrder{
        background-color: white;
        margin-top: 20px;
        margin-right: 40px;
        padding: 20px;
        .totalPrice{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}